<a href="https://colab.research.google.com/github/kangeunkyeong/dataAnalysis/blob/main/1%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC%EC%97%B0%EC%82%B0_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.파이썬 버전 출력

In [9]:
!python -V

Python 3.10.12

In [18]:
import sys
print('---', sys.version)
sys.version
100+400

--- 3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

500

In [19]:
# 2. 파이썬 설치 위치
import sys
print(sys.executable)

/usr/bin/python3

In [21]:
# 3. 물리적 폴더 위치
import os
os.getcwd()

'/content'

In [38]:
# ✓문제1: 10 + 3 x 4 결과 출력
print(10 + 3 * 4)
# ✓ 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
iphone = 15
price = 1300000
print(iphone*price)

print(15 * 1300000)
# ✓ 문제3: 주어진 임의의 자연수가 홀수인지 짝수인지 판별하는 방법은?
x = 10
if  x % 2 == 0:
 print ('짝수')
else:
  print ( '홀수' )

# ✓ 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기
print(2**3 * 5**4 * 3**4)

22
19500000
19500000
짝수
405000

In [50]:
x = 10
print('짝수') if  x % 2 == 0 else print('홀수')

짝수

파이썬 자료형(Data Type) 확인 함수: type()

In [44]:
print( type(123) )
print( type(3.14) )
print( type("123") )
print( type([123]) )
print( type({123,}) )
print( type({'123' : 123}) )
print( type({123}) )
print( type(True) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'set'>
<class 'dict'>
<class 'set'>
<class 'bool'>



## 2. 표준 입출력

### 문자열 데이터를 숫자로변환하기

In [54]:
a = input('숫자를 입력하세요: ')
print( type(a))
a = int(a)  # 정수로 변환하는 함수: int()
print( type(a) )

숫자를 입력하세요: 100
<class 'str'>
<class 'int'>

In [55]:
# a = input('숫자를 입력하세요: ')
# a = int(a)


a = input('숫자를 입력하세요: ')
a = int(a)
a = int(input('숫자를 입력하세요: '))

숫자를 입력하세요: 100
숫자를 입력하세요: 100

In [57]:
# 문자열 포맷팅
a = input('키보드로 입력해 주세요.')
print('변수 a의 값은', a, '입니다.')
print('변수 a의 값은 %s입니다.' % a)
print(f'변수 a의 값은 {a}입니다.')

키보드로 입력해 주세요.사과
변수 a의 값은 사과 입니다.
변수 a의 값은 사과입니다.
변수 a의 값은 사과입니다.

In [72]:
#실습
num1 = int(input('첫번째 숫자:'))
num2 = int(input('두번째 숫자:'))

print('-' * 30)
print(f'덧셈: {num1} + {num2} = {num1 + num2:>10}')
print(f'뺄셈: {num1} - {num2} = {num1 - num2:<10}')
print(f'곱셈: {num1} * {num2} = {num1 * num2:^10}')
print(f'몫 : {num1} // {num2} = {num1 // num2:10}')
print(f'나머지: {num1} % {num2} = {num1 % num2:10}')

첫번째 숫자:50
두번째 숫자:3
------------------------------
덧셈: 50 + 3 =         53
뺄셈: 50 - 3 = 47
곱셈: 50 * 3 =    150
몫 : 50 // 3 =         16
나머지: 50 % 3 =          2

In [71]:
val = input('첫 번째 숫자:')
print (f'a의 값은: {val:<10}') #val 값을 10자리로 오른쪽 정렬
print (f'a의 값은: {val:>10}') #val 값을 10자리로 왼쪽 정렬
print (f'a의 값은: {val:^10}') #val 값을 10자리로 가운데 정렬

첫 번째 숫자:12345
a의 값은: 12345
a의 값은:      12345
a의 값은:   12345

In [77]:
#속력과 거리를 입력받아 시간을 계산하는 프로그램 만들기

velocity = input('속력을 입력해 주세요(km/h):')
distance = input('거리를 입력해 주세요(km):')

print ( '-' * 30)

print(f'속력 : {float(velocity)} km/h')
print(f'거리 : {float(distance)} km')
print(f'시간 : {float(distance)/float(velocity)} h')

속력을 입력해 주세요(km/h):100
거리를 입력해 주세요(km):340
------------------------------
속력 : 100.0 km/h
거리 : 340.0 km
시간 : 3.4 h

내장된 수학 함수

In [79]:
import math

print(f'원주율: {math.pi}')
print(f'절대값: {math.pi}')

원주율: 3.141592653589793
절대값: 3.141592653589793

In [86]:
import math

#문제 1: 반지름이 4인 원의 넓이 출력
r = 4
pi = math.pi
print(f'원의 넓이: {round(pi * math.pow(r, 2), 4)}')

#문제 2: 3.14 곱하기 2 나누기 7의 값을 반올림하여 계산 결과 출력
print(f'계산결과: {round(3.14 * 2 / 7)}')

#문제 3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력
print(f'원의 둘레: {2 * pi * r}')

원의 넓이: 50.2655
계산결과: 1
원의 둘레: 25.132741228718345

In [ ]:
------------------------------------------------------

### [실습문제] 숫자 입력받아 계산하기
a + aa + aaa = ?

In [8]:
a = input('1~9까지의 정수 1개 입력: ')

print(f"{a} + {a*2} + {a*3} = {int(a) + int(a*2) + int(a*3)}")

1~9까지의 정수 1개 입력: 7
7 + 77 + 777 = 861

In [16]:
# eval() : 문자열을 숫자로 인식하고 계산하는 함수

eval('7 + 77 + 777')
calc = f'{a} + {a*2} + {a*3}'
print(f'{calc} = {eval(calc)}')

7 + 77 + 777 = 861