<a href="https://colab.research.google.com/github/kangeunkyeong/dataAnalysis/blob/main/2_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_03_%EA%B3%B5%EA%B3%B5%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%97%B0%EB%A0%B9%EB%8C%80%EB%B3%84%EC%9D%B8%EA%B5%AC%ED%98%84%ED%99%A9%EB%B6%84%EC%84%9D_%EB%B0%B0%ED%8F%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 한글폰트 설정 및 라이브러리 임포트

In [1]:
# 코드 실행 후 재시작
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 45 not upgraded.
Need to get 10.3 MB of archives.
After this operation, 34.1 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/universe amd64 fonts-nanum all 20200506-1 [10.3 MB]
Fetched 10.3 MB in 1s (9,796 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 121752 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20200506-1_all.deb ...
Unpacking fonts-nanum (20200506-1) ...
Setting up fonts-nanum (20200506-1) ...
Processing triggers for fontconfig (2.13.1-4.2ubuntu5) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 12 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

# 필요한 라이브러리 import

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# 멧플롯립 한글폰트 지정
plt.rc('font', family='NanumBarunGothic')
plt.rc('font', family='Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

# 2024년 연령대별 현황
 - 2024년 연령대별 인구수 확인하기
 - https://jumin.mois.go.kr/#  연령별 인구현황 > 연령 구분 단위를 1세로 변경해서 조회하기

## 파일 읽어서 데이터프레임 생성하기

In [5]:
df = pd.read_csv('202403_202403_연령별인구현황_월간.csv', encoding='cp949')
df.head()

,행정구역,2024년03월_계_총인구수,2024년03월_계_연령구간인구수,2024년03월_계_0세,2024년03월_계_1세,2024년03월_계_2세,2024년03월_계_3세,2024년03월_계_4세,2024년03월_계_5세,2024년03월_계_6세,...,2024년03월_여_91세,2024년03월_여_92세,2024년03월_여_93세,2024년03월_여_94세,2024년03월_여_95세,2024년03월_여_96세,2024년03월_여_97세,2024년03월_여_98세,2024년03월_여_99세,2024년03월_여_100세 이상
0,전국 (0000000000),"51,293,934","51,293,934","220,719","249,583","264,689","275,585","300,207","327,046","356,089",...,"47,354","37,054","27,964","22,769","16,916","12,154","8,109","5,114","3,252","7,214"
1,서울특별시 (1100000000),"9,384,739","9,384,739","36,904","40,232","42,550","43,198","46,125","49,533","53,402",...,"6,555","5,233","3,976","3,343","2,545","1,850","1,270",731,534,"1,154"
2,부산광역시 (2600000000),"3,287,292","3,287,292","12,149","14,068","15,074","15,438","17,162","18,984","21,253",...,"2,717","2,210","1,463","1,256","1,014",803,447,319,178,375
3,대구광역시 (2700000000),"2,369,962","2,369,962","9,170","10,495","11,464","11,876","13,618","14,876","16,667",...,"2,028","1,605","1,194",886,659,468,305,180,103,232
4,인천광역시 (2800000000),"3,006,045","3,006,045","13,719","15,887","16,561","17,280","18,692","20,372","21,305",...,"2,357","1,807","1,481","1,121",912,612,440,305,203,387

## 데이터 속성을 탐색

In [ ]:
df.함수이름?

## 데이터 전처리

### 행정구역을 인덱스로 설정하기

In [ ]:
df.set.index    # 인덱스 설정 함수는?
df.head(3)

### 남자 연령대별 인구 현황을 데이터프레임으로 생성하기

#### 데이터프레임 생성하기
   - 남자 연령대별 인구수 컬럼 가져오기

In [6]:
df.columns   # 컬럼명 보기

Index(['행정구역', '2024년03월_계_총인구수', '2024년03월_계_연령구간인구수', '2024년03월_계_0세',
       '2024년03월_계_1세', '2024년03월_계_2세', '2024년03월_계_3세', '2024년03월_계_4세',
       '2024년03월_계_5세', '2024년03월_계_6세',
       ...
       '2024년03월_여_91세', '2024년03월_여_92세', '2024년03월_여_93세', '2024년03월_여_94세',
       '2024년03월_여_95세', '2024년03월_여_96세', '2024년03월_여_97세', '2024년03월_여_98세',
       '2024년03월_여_99세', '2024년03월_여_100세 이상'],
      dtype='object', length=310)

In [ ]:
df_m = df.loc[:,'2024년03월_계_0세': ]    # 남자 연령대별 컬럼에 해당하는 데이터만 가져오려면?
df_m.head()

#### 컬럼명 변경하기

In [7]:
df_m.columns = 컬럼명 변경하는 방법은? ('2024년03월_남_'부분을 --> ''로 변경하기)
df_m.head()

SyntaxError: invalid syntax (<ipython-input-7-3969eef2119c>, line 1)

In [8]:
df_m.dtypes

NameError: name 'df_m' is not defined

#### 데이터 타입 변경하기
- 문자열을 정수형으로 변경하기

In [ ]:
from pandas.core.dtypes.api import is_numeric_dtype

def s(st):
  if is_numeric_dtype(st):
    return st

  else:
    return st.replace(',', '')

df_m.iloc[0].apply(s).astype(int)

In [ ]:
# 문자열을 정수로 변경하기
df_m.iloc[0] =
df_m.head()

In [ ]:
df_m.head(1)

### 여자 연령대별 인구 현황을 데이터프레임으로 생성하기

#### 데이터프레임 생성하기
   - 여자 연령대별 인구수 컬럼 가져오기

In [ ]:
df_w =
df_w.head()

#### 컬럼명 변경하기

In [ ]:
df_w.columns =
df_w.head()

In [ ]:
df_w.dtypes

#### 데이터 타입 변경하기
- 문자열을 정수형으로 변경하기

In [ ]:
df_w.iloc[0]=
df_w.head(1)

## 데이터 시각화

### 연령대별 인구 현황
- 가로 막대 그래프

In [ ]:
df_m.columns

In [9]:
plt.figure(figsize=(15, 10))
plt.barh(df_m.columns, -df_m.iloc[0]//1000) #천 단위
plt.barh(df_w.columns, df_w.iloc[0]//1000)

plt.yticks(np.arange(0, 110, 10))

plt.title('2024 대한민국 인구 피라미드')
plt.savefig('2024_인구피라미드.png', dpi=100)
plt.show()

NameError: name 'df_m' is not defined