<a href="https://colab.research.google.com/github/kangeunkyeong/dataAnalysis/blob/main/2_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_02_%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC_Pandas_%EB%B0%B0%ED%8F%AC(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
교재: 데이터 과학을 위한 파이썬 머신러닝(Chapter4)

- <a href="#04.1판다스란">04.1 판다스란</a>
- <a href="#04.2데이터추출">04.2 데이터 추출</a>
- <a href="#04.3그룹별집계">04.3 그룹별 집계</a>
- <a href="#04.4병합과연결">04.4 병합과 연결</a>

---------------

### 라이브러리 설치

In [ ]:
!pip show pandas

WARNING: Package(s) not found: pandas

In [ ]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ------------------------- ------------ 41.0/61.0 kB 653.6 kB/s eta 0:00:01
     -------------------------------------- 61.0/61.0 kB 806.3 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---- ----------------------------------- 1.2/11.5 MB 25.3 MB/s eta 0:00:01
   ----------- ---------------------------- 3.3/11.5 MB 34.9 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.5 MB 44.4 MB/s eta 0:00:01
   ------------------------------ --------- 8.9/11.5 MB 47.2 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 54.4 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 54.4 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 38.5 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
   -------- ------------------------------- 3.3/15.5 MB 70.4 MB/s eta 0:00:01
   --------------- ------------------------ 5.9/15.5 MB 62.6 MB/s eta 0:00:01
   ---------------------- ----------------- 8.7/15.5 MB 61.7 MB/s eta 0:00:01
   ----------------------------- ---------- 11.4/15.5 MB 59.5 MB/s eta 0:00:01
   ------------------------------------ --- 14.1/15.5 MB 59.5 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 65.6 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 65.6 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 65.6 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 65.6 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 65.6 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 25.2 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   --------------------------------------- 505.5/505.5 kB 16.0 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 10.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

------------------------------

## <a name="04.1판다스란">04.1 판다스란</a>

### 1. 판다스의 개념
- https://pandas.pydata.org/
- 파이썬의 데이터 분석 라이브러리
- 데이터 테이블(data table)을 다루는 도구
- 넘파이를 사용, 판다스는 넘파이를 효율적으로 사용하기 위해 인덱싱, 연산, 전처리 등 다양한 함수 제공
- **데이터프레임(DataFrame)** : 데이터 테이블 전체 객체
- **시리즈(Series)** : 각 열 데이터를 다루는 객체
- 10 minutes to pandas : https://pandas.pydata.org/docs/user_guide/10min.html

### 2. 시리즈 객체
- 피쳐 벡터(feature vector)와 같은 개념
- 데이터프레임(DataFrame) 안에 포함된 열(colume)들을 지칭할 수 있음
- list, dict, ndarray 등 다양한 데이터 타입이 시리즈 객체 형태로 변환되기도 함

### [예제] Series 객체

In [ ]:
# from pandas import Series

import pandas as pd

### Series 객체 생성
- 판다스의 모든 객체는 인덱스 값을 기준으로 생성

In [ ]:
# 딕셔너리는 키를 인덱스로 사용한다.

dict_data = {"a":1, "b":2, "c":3, "d":4, "e":5}
# data = pd.Series(dict_data, index=dict_data.keys)        ##인덱스는 특별하게 지정해줘야 할 필요가 있음, 키값을 뽑아서
data = pd.Series(dict_data)
data = pd.Series(dict_data)
print(data.index)
data

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
# 시리즈 객체간 연산이 가능하다
data1 = pd.Series({"국어":100, "영어":90, "수학":80, "과학":100})
data2 = pd.Series({"국어":95, "영어":80, "수학":65, "과학":80})
data1-data2

국어     5
영어    10
수학    15
과학    20
dtype: int64

In [ ]:
# 데이터 추가/삭제가 가능하다

data1['체육'] = 100  #데이터 추가
del data1['영어']         #데이터삭제
data1

- date range 옵션보기
(링크 추가 하기 )

In [ ]:
import pandas as pd

dates = pd.data_range("20240101", periods=6)
type(datas)
dates


dates = pd.data_range("20240101", periods=6, freq='MS')
dates = pd.data_range("20240101", periods=6, freq='MS')
dates

AttributeError: module 'pandas' has no attribute 'data_range'

- period_range
-

In [ ]:
dates = period_range(start='2024', end='2024', freq='Y')
# dates = period_range(start='2024', end='2024', freq='M')
dates

NameError: name 'period_range' is not defined

------------------

### 3. 데이터프레임 객체
- 데이터 테이블 전체를 지칭하는 객체
- 넘파이 배열의 특성을 그대로 가짐
- 인덱싱 : 열과 행 각각 사용하여 하나의 데이터에 접근

### [예제] Pandas로 다양한 파일 읽어오기

#### 1.txt 데이터 Pandas DataFrame으로 나타내기

In [ ]:
import pandas as pd

DIR = './data/데이터분석_data'
file name = './data/데이터분석_data/book.txt' ## 파일네임으로 쓸 수도 있음
df = pd.read_table(f'{DIR}book.txt',
                   sep=',',
                   names=['제목', '영어제목', '저자', '언어', '출판년도'])
df ## print함수를 쓰지 않고 변수 그대로 써야 데이터를 제대로 볼 수 있음

            제목                      영어제목            저자    언어         출판년도
0     두 도시 이야기      A Tale of Two Cities        찰스 디킨스    영어         1859
1        어린 왕자           Le Petit Prince   앙투안 드 생텍쥐페리  프랑스어         1943
2       반지의 제왕     The Lord of the Rings   J. R. R. 톨킨    영어  1954 ~ 1955
3  그리고 아무도 없었다  And Then There Were None      애거사 크리스티    영어         1939
4           호빗                The Hobbit   J. R. R. 톨킨    영어         1937

#### 2.csv 데이터 Pandas DataFrame으로 나타내기

In [ ]:
filename = './data/데이터분석_data/인구밀도.csv'
df = pd.read_csv(filename, encoding='cp949')    ## 기본이 cp949로 되어 있음, 오류가 나면 다른 걸로 교체
df

      행정구역별     2020     2021     2022
0        전국    516.2    515.2    514.6
1     서울특별시  15839.0  15650.1  15560.7
2     부산광역시   4348.9   4316.4   4272.8
3     대구광역시   2728.6   2702.2   2673.7
4     인천광역시   2765.1   2772.8   2801.3
5     광주광역시   2948.5   2944.0   2931.9
6     대전광역시   2758.1   2742.8   2730.7
7     울산광역시   1069.0   1055.0   1044.9
8   세종특별자치시    761.3    787.7    822.9
9       경기도   1325.3   1338.9   1344.9
10      강원도     90.4     90.4     90.8
11     충청북도    220.3    219.4    219.4
12     충청남도    264.0    263.8    265.9
13     전라북도    223.4    221.4    219.8
14     전라남도    144.9    143.9    143.3
15     경상북도    138.9    138.4    137.7
16     경상남도    316.2    313.6    311.2
17  제주특별자치도    362.6    363.8    365.6

In [5]:
### [실습문제] 통계청 인구정보 가져오기

import pandas as pd

df = pd.read_csv('인구밀도_인구주택총조사기준__20240418110634.csv', encoding='utf-8')
df['행정구역별'] #
df.head
df.tail
df.iloc[2:5, :]  #iloc[행, 열] -> 인덱스로 접근
df.loc[3, ['2021', '2022']]  # loc[행, 열] -> 이름으로 접근, 여러 개는 리스트로 담아서 접근
df

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc7 in position 0: invalid continuation byte

#### 3.Excel 시트 Pandas DataFrame으로 나타내기

In [ ]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
   ------ -------------------------------- 41.0/250.0 kB 495.5 kB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 2.2 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

##### 1.전체 시트(sheet) 가져오기

In [ ]:
import pandas as pd

# 전체 시트 가져오기
# 시트가 여러개 일 경우 딕셔너리 형태로 나타난다.
filename = './data/데이터분석_data/인구밀도.xlsx.'
df = pd.read_excel(filename)                   # 첫번째 시트
df = pd.read_excel(filename, sheet_name=None)  # 전체 시트 -> 시트가 여러개 일 경우 딕셔너리 형태로 보여줌

df

{'인구밀도':       행정구역별     2020     2021     2022
 0        전국    516.2    515.2    514.6
 1     서울특별시  15839.0  15650.1  15560.7
 2     부산광역시   4348.9   4316.4   4272.8
 3     대구광역시   2728.6   2702.2   2673.7
 4     인천광역시   2765.1   2772.8   2801.3
 5     광주광역시   2948.5   2944.0   2931.9
 6     대전광역시   2758.1   2742.8   2730.7
 7     울산광역시   1069.0   1055.0   1044.9
 8   세종특별자치시    761.3    787.7    822.9
 9       경기도   1325.3   1338.9   1344.9
 10      강원도     90.4     90.4     90.8
 11     충청북도    220.3    219.4    219.4
 12     충청남도    264.0    263.8    265.9
 13     전라북도    223.4    221.4    219.8
 14     전라남도    144.9    143.9    143.3
 15     경상북도    138.9    138.4    137.7
 16     경상남도    316.2    313.6    311.2
 17  제주특별자치도    362.6    363.8    365.6,
 '인구밀도2':       행정구역별     2023     2024
 0        전국    516.2    515.2
 1     서울특별시  15839.0  15650.1
 2     부산광역시   4348.9   4316.4
 3     대구광역시   2728.6   2702.2
 4     인천광역시   2765.1   2772.8
 5     광주광역시   2948.5   2944.0
 6     대전광역시   2758.1   2742.8
 7     울산광역시   1069.0   1055.0
 8   세종특별자치시    761.3    787.7
 9       경기도   1325.3   1338.9
 10      강원도     90.4     90.4
 11     충청북도    220.3    219.4
 12     충청남도    264.0    263.8
 13     전라북도    223.4    221.4
 14     전라남도    144.9    143.9
 15     경상북도    138.9    138.4
 16     경상남도    316.2    313.6
 17  제주특별자치도    362.6    363.8}

##### 2.특정 시트(sheet) 가져오기

In [ ]:
# 특정 시트 가져오기
df = pd.read_excel(filename, sheet_name='인구밀도2')  # 특정 시트를 지정해서 시트 별로 불러올 수 있음
df.head(-2) ## 레코드를 앞에서 부터 보는 것, 뒤에서 2개를 제외하고
df.tail() ## 레코드를 끝에서 보는 것

      행정구역별     2023     2024
0        전국    516.2    515.2
1     서울특별시  15839.0  15650.1
2     부산광역시   4348.9   4316.4
3     대구광역시   2728.6   2702.2
4     인천광역시   2765.1   2772.8
5     광주광역시   2948.5   2944.0
6     대전광역시   2758.1   2742.8
7     울산광역시   1069.0   1055.0
8   세종특별자치시    761.3    787.7
9       경기도   1325.3   1338.9
10      강원도     90.4     90.4
11     충청북도    220.3    219.4
12     충청남도    264.0    263.8
13     전라북도    223.4    221.4
14     전라남도    144.9    143.9
15     경상북도    138.9    138.4
16     경상남도    316.2    313.6
17  제주특별자치도    362.6    363.8

##### 3.여러 시트(sheet) 가져오기

In [ ]:
# 여러 시트 가져오기: 시트 이름으로 가져오기
df = pd.read_excel(filename, sheet_name=['인구밀도2', '인구밀도']) # 여러 개 시트할 때 리스트 형태로 가져오고, 인덱스로도도 지정이 가능
df

{'인구밀도2':       행정구역별     2023     2024
 0        전국    516.2    515.2
 1     서울특별시  15839.0  15650.1
 2     부산광역시   4348.9   4316.4
 3     대구광역시   2728.6   2702.2
 4     인천광역시   2765.1   2772.8
 5     광주광역시   2948.5   2944.0
 6     대전광역시   2758.1   2742.8
 7     울산광역시   1069.0   1055.0
 8   세종특별자치시    761.3    787.7
 9       경기도   1325.3   1338.9
 10      강원도     90.4     90.4
 11     충청북도    220.3    219.4
 12     충청남도    264.0    263.8
 13     전라북도    223.4    221.4
 14     전라남도    144.9    143.9
 15     경상북도    138.9    138.4
 16     경상남도    316.2    313.6
 17  제주특별자치도    362.6    363.8,
 '인구밀도':       행정구역별     2020     2021     2022
 0        전국    516.2    515.2    514.6
 1     서울특별시  15839.0  15650.1  15560.7
 2     부산광역시   4348.9   4316.4   4272.8
 3     대구광역시   2728.6   2702.2   2673.7
 4     인천광역시   2765.1   2772.8   2801.3
 5     광주광역시   2948.5   2944.0   2931.9
 6     대전광역시   2758.1   2742.8   2730.7
 7     울산광역시   1069.0   1055.0   1044.9
 8   세종특별자치시    761.3    787.7    822.9
 9       경기도   1325.3   1338.9   1344.9
 10      강원도     90.4     90.4     90.8
 11     충청북도    220.3    219.4    219.4
 12     충청남도    264.0    263.8    265.9
 13     전라북도    223.4    221.4    219.8
 14     전라남도    144.9    143.9    143.3
 15     경상북도    138.9    138.4    137.7
 16     경상남도    316.2    313.6    311.2
 17  제주특별자치도    362.6    363.8    365.6}

In [ ]:
# 여러 시트 가져오기: 시트 번호로 가져오기 (0번부터 시작)
df = pd.read_excel(filename, sheet_name=[1, '인구밀도']) # 여러 개 시트할 때 리스트 형태로 가져오고, 인덱스로도도 지정이 가능
df

# df.to_excel(파일이름)

{1:       행정구역별     2023     2024
 0        전국    516.2    515.2
 1     서울특별시  15839.0  15650.1
 2     부산광역시   4348.9   4316.4
 3     대구광역시   2728.6   2702.2
 4     인천광역시   2765.1   2772.8
 5     광주광역시   2948.5   2944.0
 6     대전광역시   2758.1   2742.8
 7     울산광역시   1069.0   1055.0
 8   세종특별자치시    761.3    787.7
 9       경기도   1325.3   1338.9
 10      강원도     90.4     90.4
 11     충청북도    220.3    219.4
 12     충청남도    264.0    263.8
 13     전라북도    223.4    221.4
 14     전라남도    144.9    143.9
 15     경상북도    138.9    138.4
 16     경상남도    316.2    313.6
 17  제주특별자치도    362.6    363.8,
 '인구밀도':       행정구역별     2020     2021     2022
 0        전국    516.2    515.2    514.6
 1     서울특별시  15839.0  15650.1  15560.7
 2     부산광역시   4348.9   4316.4   4272.8
 3     대구광역시   2728.6   2702.2   2673.7
 4     인천광역시   2765.1   2772.8   2801.3
 5     광주광역시   2948.5   2944.0   2931.9
 6     대전광역시   2758.1   2742.8   2730.7
 7     울산광역시   1069.0   1055.0   1044.9
 8   세종특별자치시    761.3    787.7    822.9
 9       경기도   1325.3   1338.9   1344.9
 10      강원도     90.4     90.4     90.8
 11     충청북도    220.3    219.4    219.4
 12     충청남도    264.0    263.8    265.9
 13     전라북도    223.4    221.4    219.8
 14     전라남도    144.9    143.9    143.3
 15     경상북도    138.9    138.4    137.7
 16     경상남도    316.2    313.6    311.2
 17  제주특별자치도    362.6    363.8    365.6}

#### 4.Remote URL의 CSV 데이터 Pandas DataFrame으로 나타내기

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

df = pd.read_csv(url, header=None)
# df = pd.read_csv(url, columns=[컬럼1, 컬럼2, ....])
df

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
# 머신러닝 라이브러리 (scikit-learn)


!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.4.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.13.0-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.6 kB ? eta -:--:--
     ---------------------------------------- 0.0/60.6 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.6 kB ? eta -:--:--
     -------------------------------- ----- 51.2/60.6 kB 525.1 kB/s eta 0:00:01
     -------------------------------------- 60.6/60.6 kB 535.5 kB/s eta 0:00:00
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.0-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.4.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.4.2-cp312-cp312-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   - -------------------------------------- 0.4/10.6 MB 8.1 MB/s eta 0:00:02
   --- ------------------------------------ 0.8/10.6 MB 12.7 MB/s eta 0:00:01
   ------ --------------------------------- 1.6/10.6 MB 11.4 MB/s eta 0:00:01
   ---------- ----------------------------- 2.9/10.6 MB 16.8 MB/s eta 0:00:01
   ---------------- ----------------------- 4.5/10.6 MB 19.1 MB/s eta 0:00:01
   ----------------------- ---------------- 6.3/10.6 MB 23.8 MB/s eta 0:00:01
   ------------------------------- -------- 8.4/10.6 MB 25.6 MB/s eta 0:00:01
   ------------------------------------- -- 9.9/10.6 MB 27.6 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 29.7 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 26.1 MB/s eta 0:00:00
Downloading joblib-1.4.0-py3-none-any.whl (301 kB)
   ---------------------------------------- 0.0/301.2 kB ? eta -:--:--
   --------------------------------------- 301.2/301.2 kB 19.4 MB/s eta 0:00:00
Downloading scipy-1.13.0-cp312-cp312-win_amd64.whl (45.9 MB)
   ---------------------------------------- 0.0/45.9 MB ? eta -:--:--
   - -------------------------------------- 2.1/45.9 MB 44.7 MB/s eta 0:00:01
   --- ------------------------------------ 4.4/45.9 MB 47.6 MB/s eta 0:00:01
   ----- ---------------------------------- 6.2/45.9 MB 49.2 MB/s eta 0:00:01
   ------- -------------------------------- 8.1/45.9 MB 43.4 MB/s eta 0:00:01
   --------- ------------------------------ 10.5/45.9 MB 43.7 MB/s eta 0:00:01
   ---------- ----------------------------- 12.6/45.9 MB 43.7 MB/s eta 0:00:01
   ----------- ---------------------------- 13.6/45.9 MB 38.5 MB/s eta 0:00:01
   ----------- ---------------------------- 13.6/45.9 MB 38.5 MB/s eta 0:00:01
   ----------- ---------------------------- 13.6/45.9 MB 38.5 MB/s eta 0:00:01
   ----------- ---------------------------- 13.7/45.9 MB 25.2 MB/s eta 0:00:02
   ------------ --------------------------- 13.9/45.9 MB 23.4 MB/s eta 0:00:02
   ------------ --------------------------- 14.8/45.9 MB 22.5 MB/s eta 0:00:02
   --------------- ------------------------ 17.2/45.9 MB 22.6 MB/s eta 0:00:02
   ----------------- ---------------------- 19.8/45.9 MB 23.4 MB/s eta 0:00:02
   ------------------- -------------------- 22.0/45.9 MB 23.4 MB/s eta 0:00:02
   --------------------- ------------------ 24.9/45.9 MB 50.4 MB/s eta 0:00:01
   ------------------------ --------------- 27.9/45.9 MB 54.4 MB/s eta 0:00:01
   -------------------------- ------------- 30.6/45.9 MB 59.8 MB/s eta 0:00:01
   ---------------------------- ----------- 32.5/45.9 MB 59.5 MB/s eta 0:00:01
   ---------------------------- ----------- 32.5/45.9 MB 59.5 MB/s eta 0:00:01
   ---------------------------- ----------- 32.5/45.9 MB 59.5 MB/s eta 0:00:01
   ------------------------------ --------- 34.7/45.9 MB 36.4 MB/s eta 0:00:01
   -------------------------------- ------- 37.1/45.9 MB 34.4 MB/s eta 0:00:01
   ---------------------------------- ----- 39.4/45.9 MB 32.7 MB/s eta 0:00:01
   ------------------------------------- -- 43.0/45.9 MB 59.5 MB/s eta 0:00:01
   ------------------------------------- -- 43.0/45.9 MB 59.5 MB/s eta 0:00:01
   ------------------------------------- -- 43.0/45.9 MB 59.5 MB/s eta 0:00:01
   -------------------------------------- - 44.4/45.9 MB 36.4 MB/s eta 0:00:01
   ---------------------------------------  45.9/45.9 MB 34.6 MB/s eta 0:00:01
   ---------------------------------------  45.9/45.9 MB 34.6 MB/s eta 0:00:01
   ---------------------------------------  45.9/45.9 MB 34.6 MB/s eta 0:00:01
   ---------------------------------------  45.9/45.9 MB 34.6 MB/s eta 0:00:01
   ---------------------------------------- 45.9/45.9 MB 21.1 MB/s eta 0:00:00
Downloading threadpoolctl-3.4.0-py3-none-any.whl (17 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.0 scikit-learn-1.4.2 scipy-1.13.0 threadpoolctl-3.4.0

In [ ]:
from sklearn.datasets import load_iris

iris = load_iris()
iris

df = pd.DataFrame(iris['data'],
                  columns=iris['feature_names'])



print("target : {iris['target']}")
print("target names : {iris['target_names']}")
df['result'] = iris['target']
df['result_name'] = iris.target_names[iris.target]
df

#

target : {iris['target']}
target names : {iris['target_names']}

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),result,result_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [ ]:
dg = pd.read_csv('./data')

### 1. 데이터프레임 생성
- 2차원 리스트 타입으로 만들기
- 딕셔너리 타입으로 만들기 :  키(key)는 열 이름, 값(value)은 시퀀스형 데이터 타입을 넣어 각 열의 데이터로 만듦

In [ ]:
# 2차원 리스트 타입으로 DataFrame 만들기
raw_data = [['Jason','Miller', 42, 'San Francisco'],
            ['Molly', 'Jacobson', 52, 'Baltimore'],
            ['Tina', 'Ali', 36, 'Miami'],
            ['Jake', 'Milner', 24, 'Douglas'],
            ['Amy', 'Cooze', 73, ]]
           # ['Amy', 'Cooze', 73, 'Boston']]


df = pd.DataFrame(raw_data,
                  columns=['first_name', 'last_name', 'age', 'address'])

df = pd.DataFrame(raw_data)
df.columns = ['first_name', 'last_name', 'age', 'address']  ## 두 가지다 상황에 따라 자주 사용

df

  first_name last_name  age        address
0      Jason    Miller   42  San Francisco
1      Molly  Jacobson   52      Baltimore
2       Tina       Ali   36          Miami
3       Jake    Milner   24        Douglas
4        Amy     Cooze   73           None

In [ ]:
# 딕셔너리 타입으로 DataFrame 만들기 (키와 밸류 형태로 )
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
            'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
            'age': [42, 52, 36, 24, 73],
            'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}

df = pd.DataFrame(raw_data) ## 키가 컬럼으로 되고 밸류가 데이터로
df

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly  Jacobson   52      Baltimore
2       Tina       Ali   36          Miami
3       Jake    Milner   24        Douglas
4        Amy     Cooze   73         Boston

### 2. 데이터프레임의 열 다루기

In [ ]:
# 데이터 생성시, 딕셔너리 데이터에서 열(Key) 이름을 한정하면 해당 열만 추출

df = pd.DataFrame(raw_data, columns=['first_name', 'age'])
df

  first_name  age
0      Jason   42
1      Molly   52
2       Tina   36
3       Jake   24
4        Amy   73

In [ ]:
# 데이터가 존재하지 않는 열을 추가하면 해당 열에는 NaN 값들 추가 ## NaN = Not a Number

df = pd.DataFrame(raw_data, columns=['first_name', 'age', 'last_name','city', 'phone'])
df

  first_name  age last_name           city phone
0      Jason   42    Miller  San Francisco   NaN
1      Molly   52  Jacobson      Baltimore   NaN
2       Tina   36       Ali          Miami   NaN
3       Jake   24    Milner        Douglas   NaN
4        Amy   73     Cooze         Boston   NaN

-----------------

## <a name="04.2데이터추출">04.2 데이터 추출</a>

### 1. 데이터 로딩

In [14]:
filename = ('./data/인구밀도_인구주택총조사기준0418.csv')

df = pd.read_csv(filename)
df.head(3) ## 앞에 한 5개 정도

FileNotFoundError: [Errno 2] No such file or directory: './data/인구밀도_인구주택총조사기준0418.csv'

### 2. 열 이름을 사용한 데이터 추출

In [9]:
df.query('행정구역별' == '서울특별시')
df.query("행정구역별 in ('서울특별시', '경기도') and `2021` > 10000")

NameError: name 'df' is not defined

In [10]:
# Pandas?DataFrame에서 유용하게 사용하는 함수
df.info() #데이터의 정보

NameError: name 'df' is not defined

In [11]:
df.describe()  #데이터의 기술통계 정보

NameError: name 'df' is not defined

In [ ]:
# 열 이름을 리스트 형태로 넣어 호출
df[['account', 'name', 'city']] .head() ##대괄호 2개, 원래는 아까 하나만 보였는데, 하나일 땐 대괄호 안 써도 되는데, 여러개 볼 때는 대괄호 2개

   account                         name             city
0   211829   Kerluke, Koepp and Hilpert       New Jaycob
1   320563               Walter-Trantow    Port Khadijah
2   648336   Bashirian, Kunde and Price   New Lilianland
3   109996  D'Amore, Gleichner and Bode       Hyattburgh
4   121213                Bauch-Goldner  Shanahanchester

### 3. 행 번호를 사용한 데이터 추출

In [ ]:
# 인덱스 번호로 호출
df[:3]

,account,name,street,city,state,postal-code,Jan,Feb,Mar
0,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
1,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000
2,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000

### 4. 행과 열을 모두 사용한 데이터 추출

In [ ]:
# 열 이름, 인덱스 번호 둘 다 사용해서 호출
df[['account', 'name', 'city']][:3]

   account                        name            city
0   211829  Kerluke, Koepp and Hilpert      New Jaycob
1   320563              Walter-Trantow   Port Khadijah
2   648336  Bashirian, Kunde and Price  New Lilianland

In [ ]:
# 인덱스 변경하기
 # df.index
df.index = df['account']
del df['account']
df

,account,name,street,city,state,postal-code,Jan,Feb,Mar
account,,,,,,,,,
211829,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
320563,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000
648336,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000
109996,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000
121213,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000
132971,132971,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,Arkansas,62785,150000,120000,35000
145068,145068,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,Mississipi,18008,62000,120000,70000
205217,205217,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,RhodeIsland,53461,145000,95000,35000
209744,209744,Champlin-Morar,26739 Grant Lock,Lake Juliannton,Pennsylvania,64415,70000,95000,35000
212303,212303,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,Idaho,46308,70000,120000,35000
214098,214098,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,Tenessee,47743,45000,120000,55000
231907,231907,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,NorthDakota,31415,150000,10000,162000
242368,242368,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,Iowa,72686,162000,120000,35000
268755,268755,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,RhodeIsland,31919,55000,120000,35000
273274,273274,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,Delaware,27933,150000,120000,70000

In [ ]:
# loc 함수 : 인덱스 이름과 열 이름으로 데이터 추출
df.loc[:648336, ['name', 'city']]

                               name            city
account
211829   Kerluke, Koepp and Hilpert      New Jaycob
320563               Walter-Trantow   Port Khadijah
648336   Bashirian, Kunde and Price  New Lilianland

In [ ]:
# iloc 함수 :  인덱스 번호로만 데이터 호출
df.iloc[2:4, 2:4]   ## 인덱스 이름이 바뀌었더라도 내부적으로 0,1,2,3....

                                       street            city
account
648336   62184 Schamberger Underpass Apt. 231  New Lilianland
109996            155 Fadel Crescent Apt. 144      Hyattburgh

### 5.새로운 인덱스 할당

In [ ]:
# reset_index 함수로 새로운 인덱스 할당된 객체 생성 ##처음으로 돌아가고 싶어

df_new = df.reset_index()
df_new.head(3)

,index,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),result,result_name
0,0,5.1,3.5,1.4,0.2,0,setosa
1,1,4.9,3.0,1.4,0.2,0,setosa
2,2,4.7,3.2,1.3,0.2,0,setosa

### 6. drop 함수

In [ ]:
# drop 함수 : 특정 열이나 행을 삭제한 객체를 반환
# 컬럼 삭제(axis)

#df_new.drop('street', axis=1, inplace=True) # 1개 컬럼 삭제
# df_new.drop(['city', 'street'], axis=1)
#df_new.drop(['city', 'street'], axis=1, inplace=True) # 여러개 컬럼 삭제
#df_new


# 행 삭제 (axis=0 : default)
df_new.drop(0, inplace=True) ###인플레이스 트루를 적어야 진짜로 삭제가 된
#df_new.drop(0, axis=0, inplace=True)
df_new

,index,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),result,result_name
1,1,4.9,3.0,1.4,0.2,0,setosa
2,2,4.7,3.2,1.3,0.2,0,setosa
3,3,4.6,3.1,1.5,0.2,0,setosa
4,4,5.0,3.6,1.4,0.2,0,setosa
5,5,5.4,3.9,1.7,0.4,0,setosa
...,...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,2,virginica
146,146,6.3,2.5,5.0,1.9,2,virginica
147,147,6.5,3.0,5.2,2.0,2,virginica
148,148,6.2,3.4,5.4,2.3,2,virginica
149,149,5.9,3.0,5.1,1.8,2,virginica

In [ ]:
# 행 삭제 (axis=0 : default)
# df_new.drop(4, inplace=True) ###인플레이스 트루를 적어야 진짜로 삭제가 된
# df_new.drop(4, axis=0, inplace=True)
df_new.drop([2,5,6], axis=0, inplace=True)
df_new

------------------------

## <a name="04.3그룹별집계">04.3 그룹별 집계</a>

### 1. 그룹별 집계의 개념
- 그룹별 집계(groupby) : 데이터로부터 동일한 객체를 가진 데이터만 따로 뽑아 기술통계 데이터를 추출
- 엑셀의 피봇테이블(pivot table) 기능과 비슷
- groupby 명령어는 분할→적용→결합 과정을 거침
 - - 분할(split) : 같은 종류의 데이터끼리 나누는 기능 <br>
 - - 적용(apply) : 데이터 블록마다 sum, count, mean 등 연산 적용
 - - 결합(combine) : 연산 함수가 적용된 각 블록들을 합침

### 2. 그룹별 집계 사용하기

In [ ]:
# 그룹별 집계의 기본형
data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings','kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
            'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
            'Year': [2014, 2015, 2014, 2015, 2014, 2015, 2016, 2017, 2016, 2014, 2015, 2017],
            'Points': [876,789,863,673,741,812,756,788,694,701,804,690]}

df = pd.DataFrame(data)
df.head(5)

     Team  Rank  Year  Points
0  Riders     1  2014     876
1  Riders     2  2015     789
2  Devils     2  2014     863
3  Devils     3  2015     673
4   Kings     3  2014     741

In [ ]:
# 그룹별 집계의 기본형
# Team별 그룹하여 Points의 합계 구하기
df.groupby("Team")["Points"].sum()  ##points를 sum한다

Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812
Name: Points, dtype: int64

In [20]:
# 멀티 인덱스 그룹별 집계
# - 한 개 이상의 열을 기준으로 그룹별 집계를 실행
df_group = df.groupby(["Team","Year"])["Points"].sum()
df_group.index

NameError: name 'df' is not defined

In [19]:
#DataFrame을 파일로 저장하기
df_group.to_csv('팀별그룹핑.csv')

NameError: name 'df_group' is not defined

In [17]:
df_tmp = pd.read_csv('팀별그룹핑.csv')
df_tmp

FileNotFoundError: [Errno 2] No such file or directory: '팀별그룹핑.csv'

In [ ]:
# 멀티 인덱스
# - 한 개 이상의 열로 그룹별 집계 수행하면 여러 열이 모두 인덱스로 반환됨
df_group = df.groupby(["Team","Year"])["Points"].sum()
df_group.index
df_group

MultiIndex([('Devils', 2014),
            ('Devils', 2015),
            ( 'Kings', 2014),
            ( 'Kings', 2016),
            ( 'Kings', 2017),
            ('Riders', 2014),
            ('Riders', 2015),
            ('Riders', 2016),
            ('Riders', 2017),
            ('Royals', 2014),
            ('Royals', 2015),
            ( 'kings', 2015)],
           names=['Team', 'Year'])

In [ ]:
# - swaplevel 함수로 인덱스 간 레벨을 변경
# - sort_index 함수로 첫 번째 인덱스를 기준으로 데이터 재정렬
# df_group.sort_index()
df_group.swaplevel().sort_index() ###행열 위치를 바꾸는 경우

Year  Team
2014  Devils    863
      Kings     741
      Riders    876
      Royals    701
2015  Devils    673
      Riders    789
      Royals    804
      kings     812
2016  Kings     756
      Riders    694
2017  Kings     788
      Riders    690
Name: Points, dtype: int64

### 3. 그룹화된 상태
- 그룹화된(grouped) 상태 : 분할→적용→결합 중에서 분할까지만 이루어진 상태
- get_group 함수 : 해당 키 값을 기준으로 분할된 데이터프레임 객체를 확인

In [ ]:
a = df.groupby('Team') ## a에 저장해 놓고 쓸 수 있다.
a['Points'].sum()

Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812
Name: Points, dtype: int64

- **집계(aggregation)** : 요약된 통계 정보를 추출

In [ ]:
# 집계(aggregation) : 요약된 통계 정보를 추출
df.groupby('Team').agg(min)

KeyError: 'Team'

In [ ]:
df.groupby('Team')[Points].agg(['sum', 'max'])    ###엑셀에서 다루는 건 판다스에서 거의 다 다룰 수 있음
df.groupby('Team')[Points].agg(**{'합계':'sum','최고':'max'})

KeyError: 'Team'

- **필터(filter)** : 특정 조건으로 데이터를 검색

In [ ]:
# 필터
# Team별 레코드 개수 3개 이상인 Team
# Team별 Points의 최고값이 800이상인 Team

-----------------

## <a name="04.4병합과연결">04.4 병합과 연결</a>

### 1. 병합
병합(merge) : 두 개의 데이터를 특정 기준한 기준을 가지고 하나로 통합하는 작업

In [ ]:
raw_data = {'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
            'test_score': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

In [ ]:
raw_data = {'subject_id': ['4', '5', '6', '7', '8'],
            'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
            'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

In [ ]:
# 내부 조인: 양쪽의 교집합 데이터를 통합

In [ ]:
# 왼쪽 조인, 오른쪽 조인

In [ ]:
# 완전 조인

### 2. 연결(concatenate)

In [ ]:
# 디렉토리에서 파일명이 sales 가 포함된 파일명 가져오기



# 파일 Pandas DataFrame으로 읽어오기


# 파일 병합하기

--------------