<a href="https://colab.research.google.com/github/kangeunkyeong/dataAnalysis/blob/main/3%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EC%BB%AC%EB%A0%89%EC%85%98%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3.컬렉션 자료형

## 3-1.리스트

In [3]:
### 리스트 생성

a = [] # 빈 리스트
a = list() # 빈 리스트
print( type(a) )
print(a)

<class 'list'>
[]

In [7]:
#초기 데이터 넣고 리스트 생성
import math
a = [1, 2, 3, 4, 5]
a = [1, 'apple', '딸기', 3.14, math.pi, max([10, 20, 30])]
b = [1, 2, a, ['사과', '딸기', {'k':'kiwi'}]]
print(b)

[1, 2, [1, 'apple', '딸기', 3.14, 3.141592653589793, 30], ['사과', '딸기', {'k': 'kiwi'}]]

In [9]:
numlist = []
for num in range(1, 21, 2):  # for 반복문, range(): 정수를 순차로 발생시키는 함수
  numlist.append(num)        # 리스트에 데이터 추가
print(numlist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [12]:
print(b)

for i in b:  # for 반복문, b란 이름의 리스트 안에 있는 요소를 하나씩 출력하는 코드
  print(i)

[1, 2, [1, 'apple', '딸기', 3.14, 3.141592653589793, 30], ['사과', '딸기', {'k': 'kiwi'}]]
1
2
[1, 'apple', '딸기', 3.14, 3.141592653589793, 30]
['사과', '딸기', {'k': 'kiwi'}]

# 리스트 요소에 접근

In [20]:
colors = ['빨강', '초록', '파랑', '노랑', '검정']
print(colors[0]) #단일, 하나로 표현 됨
print(colors[2:4]) #구조가 리스트로 나옴
print(colors[::-1]) #거꾸로 정렬

for color in colors: #리스트 요소 추가하기
  print(f"나는 {color} 색상을 좋아합니다.")

빨강
['파랑', '노랑']
['검정', '노랑', '파랑', '초록', '빨강']
나는 빨강 색상을 좋아합니다.
나는 초록 색상을 좋아합니다.
나는 파랑 색상을 좋아합니다.
나는 노랑 색상을 좋아합니다.
나는 검정 색상을 좋아합니다.

### 리스트에 요소 추가하기

In [24]:
print (colors)
# 인덱스 2 위치에 '분홍'넣기
colors.insert(2, '분홍')
print(colors)

#맨 뒤에 추가하기
colors.append('보라')
print(colors)

['빨강', '초록', '분홍', '분홍', '파랑', '노랑', '검정']
['빨강', '초록', '분홍', '분홍', '분홍', '파랑', '노랑', '검정']
['빨강', '초록', '분홍', '분홍', '분홍', '파랑', '노랑', '검정', '보라']

### 리스트 특정 위치의 요소값 변경

In [32]:
colors[3] = '주황'
print(colors)
colors[1:3] = '갈색'
print(colors)
colors[1:3] = ['갈색', '고동'] #거기에 맞는 개수만큼 넣어야 내가 의도한 대로 표현 가능
print(colors)
colors[1:4] = '갈색' # 주의! 인덱스 개수가 다르면 대체가 안되고 없어짐 / '주황'이 아예 사라져버림 (가능하면 크기가 맞게끔 데이터 추가)
print(colors)

['빨강', '갈', '색', '주황', '파랑', '노랑', '검정', '보라']
['빨강', '갈', '색', '주황', '파랑', '노랑', '검정', '보라']
['빨강', '갈색', '고동', '주황', '파랑', '노랑', '검정', '보라']
['빨강', '갈', '색', '파랑', '노랑', '검정', '보라']

### 리스트의 요소 삭제

In [39]:
colors = ['빨강', '초록', '파랑', '노랑', '검정', '노랑']
# 맨 뒤에 있는 것 삭제(꺼내기)

colors.pop()
print(colors)

# 요소값과 일치하는 것 삭제
colors.remove('노랑')
print(colors)

#전체 요소 삭제
colors.clear()
print(colors)

['빨강', '초록', '파랑', '노랑', '검정']
['빨강', '초록', '파랑', '검정']
[]

### 리스트 자체 삭제

In [40]:
del(colors)
print(colors)

NameError: name 'colors' is not defined

### 2차원/3차원... 리스트 요소 접근

In [51]:
animals = ['사자', '호랑이','곰',
             ['고양이', '강아지',['돌고래', '범고래'], '햄스터'],]
print(animals)

print(animals[1])
print(animals[3])
print(animals[3][1])
print(animals[3][2][1])

['사자', '호랑이', '곰', ['고양이', '강아지', ['돌고래', '범고래'], '햄스터']]
호랑이
['고양이', '강아지', ['돌고래', '범고래'], '햄스터']
강아지
범고래
4

### 리스트 길이 (요소의 개수)

In [54]:
print(animals)
print( len(animals) )
print( len(animals[3]) )
print( len(animals[3][2]) )

['사자', '호랑이', '곰', ['고양이', '강아지', ['돌고래', '범고래'], '햄스터']]
4
4
2

### 리스트 함수

In [66]:

colors = ['빨강', '초록', '파랑', '노랑', '검정', '노랑']
# 리스트 요소 정렬
print(colors)

colors.sort() # 순차 정렬됨  (가나다 순으로 정렬됨)
print(colors)

colors.reverse() # 역순 정렬됨
print(colors)

# 리스트의 특정 요소 위치 찾기
print(colors.index('빨강'))
print(colors.index('노랑')) # 여러 개 있을 경우 맨 앞의 인덱스 나타내기

# 요소 값 개수 세기
print( f"요소 값 개수세기: {colors.count('노랑')}")

# 리스트 정렬해서 새로운 이름으로 저장해서 사용 (기존 리스트는 두고 새로운 이름으로 만들어서 정렬, 기존 것은 그대로)
new = sorted(colors)
print(new)

['빨강', '초록', '파랑', '노랑', '검정', '노랑']
['검정', '노랑', '노랑', '빨강', '초록', '파랑']
['파랑', '초록', '빨강', '노랑', '노랑', '검정']
2
3
요소 값 개수세기: 2
['검정', '노랑', '노랑', '빨강', '초록', '파랑']

In [71]:
colors = ['빨강', '초록', '파랑', '노랑', '검정', '노랑']
newColors = ['red', 'green', 'blue']
colors += newColors
print(colors)
print(newColors)
colors.extend(newColors) #a.extend(b) a에다가 b를 합해줘
print(colors)

['빨강', '초록', '파랑', '노랑', '검정', '노랑', 'red', 'green', 'blue']
['red', 'green', 'blue']
['빨강', '초록', '파랑', '노랑', '검정', '노랑', 'red', 'green', 'blue', 'red', 'green', 'blue']

---

## 3-2. 딕셔너리(Ditionary)

### 딕셔너리 자료 생성

In [72]:
dic = dict() # 빈 딕셔너리 생성
dic = {} # 중괄호로 묶어 구성
print( type(dic))

<class 'dict'>

In [75]:
# 딕셔너리는 Key:Value 구조
members = {1:'이승철', 2:'박정현', 'bts':['진', 'RM', '뷔', '지민']}
print(members)
print(members[2]) #2는 key값이다
print(members['bts'])
print(members['bts'][1])  #밸률들이 리스트로 되어 있으니 이런 방식으로 접근
print(len (members['bts']) )

{1: '이승철', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민']}
박정현
['진', 'RM', '뷔', '지민']
RM
4

### 딕셔너리에서 Value에 접근하기
- 키를 통해서만 Value에 접근할 수 있다.

In [79]:
members = {1:'이승철', 2:'박정현', 'bts':['진', 'RM', '뷔', '지민']}
for key in members:
    print(f"키--> {key}, Value--> {members[key]}")

키--> 1, Value--> 이승철
키--> 2, Value--> 박정현
키--> bts, Value--> ['진', 'RM', '뷔', '지민']

### 딕셔너리에서 자주 사용하는 함수

In [81]:
members = {1:'이승철', 2:'박정현', 'bts':['진', 'RM', '뷔', '지민']}
print(members.keys()) #key만 모아둔 것
print(members.values()) #valye만 모아둔 것
print(members.items()) #(key, value) 쌍으로 모아둔 것

dict_keys([1, 2, 'bts'])
dict_values(['이승철', '박정현', ['진', 'RM', '뷔', '지민']])
dict_items([(1, '이승철'), (2, '박정현'), ('bts', ['진', 'RM', '뷔', '지민'])])

In [83]:
# for (key, value) in members.items():

for (key, value) in members.items():
  print(key, value)

for (key, value) in members.items():
  print(key, members[key])

for (key, value) in members.items():
  print(key, members[key])

1 이승철
2 박정현
bts ['진', 'RM', '뷔', '지민']
1 이승철
2 박정현
bts ['진', 'RM', '뷔', '지민']
1 이승철
2 박정현
bts ['진', 'RM', '뷔', '지민']

### 딕셔너리에 요소 추가 / 수정/ 삭제

In [89]:
members = {1:'이승철', 2:'박정현', 'bts':['진', 'RM', '뷔', '지민']}
print(members)

# 요소 추가
members[3] = 'NCT Dream' #키=밸류
members['소속사'] = ['하이브', 'SM기획']
print(members)

# 요소 수정
members[1] = '세븐틴'
print(members)

#요소 삭제 (순서가 없으므로 키로 삭제)
del(members ['소속사'])
print(members)

# 딕셔너리 자체를 삭제해 버림 (삭제해서 접근하니 오류가 남)
del(members)
print(members)

{1: '이승철', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민']}
{1: '이승철', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민'], 3: 'NCT Dream', '소속사': ['하이브', 'SM기획']}
{1: '세븐틴', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민'], 3: 'NCT Dream', '소속사': ['하이브', 'SM기획']}
{1: '세븐틴', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민'], 3: 'NCT Dream'}

NameError: name 'members' is not defined

---------

## 3-3 튜플 (Tuple)

### 튜플 생성

In [93]:
tup = tuple() #빈 튜플 생성
tup = ()      #빈 튜플 생성
print( type(tup))

a = [1, 2, 3, 4]
print(a)
print(tuple(a)) # 리스트를 튜플로 변환

<class 'tuple'>
[1, 2, 3, 4]
(1, 2, 3, 4)

In [96]:
tup = ('사과') # 괄호는 묶음의 의미로 해석
print( type(tup))
tup = ('사과',) #튜플에서 요소가 하나일 때는 반드시 맨 뒤에 , 추가
print( type(tup))

<class 'str'>
<class 'tuple'>

In [97]:
help(tuple) #help는 자료형에 대한 도움말

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      MonthDayNano
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

### 튜플은 변수를 정의할 때/ 함수의 파라미터의 정의에 사용

In [99]:
a, b = 100, 200
a, b = 100, [1, 2, 3,4]
print(a)
print(b)

100
[1, 2, 3, 4]

In [101]:
#변형이 안되기 때문에 함수같은 거 호출할 때 변형이 안되므로 튜플 형태
def nSum(a, b):   #def는 정의,  호출 될 때는 parameter
  return a + b

nSum(100, 200)  # argument

#print 안 써도 되는 함수

300

## 3-4.집합(Set)

## 집합 생성

In [102]:
a = set() # 빈 집합 생성
print( type(a) )

a = {1,2,3,4,2,2,4}
print (a)

<class 'set'>
{1, 2, 3, 4}

## 집합은 중복된 데이터는 배제한다
- 유니크한 데이터만 남는다

In [104]:
a = [1,2,3,4,5,6,2,2,3,5,6,7,5,2]
print(a)
a = list(set(a)) #순서는 없습니다
print(a)

[1, 2, 3, 4, 5, 6, 2, 2, 3, 5, 6, 7, 5, 2]
[1, 2, 3, 4, 5, 6, 7]

### 집합에 요소 추가/삭제 (수정은 없음)

In [116]:
s = {1,2,3,'a','b'}
print(s)

#요소 추가
s.add(4)
print(s) #순서가 없으므로 선생님과 다른 순서 나올 수 있음)

# 요소 여러 개 추가
s.update(['c','d',5])
print(s)
s.update('apple') #기존에 a가 있으면 안 들어가 p도 중복이니 1개만, 유니크한 것만 보여준다
print(s)

# 요소 1개 삭제
s.discard('a')
print(s)

s.discard('apple') #삭제할 때는 애플을 a 하나로 인식해서 a만 삭제됨????  ******************
print(s)


# 특정 요소 삭제
s.remove(1)
print(s)

#임의의 요소 1개 삭제
s.pop()
print(s)

{1, 2, 3, 'a', 'b'}
{1, 2, 3, 'a', 4, 'b'}
{'c', 1, 2, 3, 'a', 4, 5, 'b', 'd'}
{'c', 1, 2, 3, 'a', 4, 5, 'b', 'p', 'd', 'e', 'l'}
{'c', 1, 2, 3, 4, 5, 'b', 'p', 'd', 'e', 'l'}
{'c', 1, 2, 3, 4, 5, 'b', 'p', 'd', 'e', 'l'}
{'c', 2, 3, 4, 5, 'b', 'p', 'd', 'e', 'l'}
{2, 3, 4, 5, 'b', 'p', 'd', 'e', 'l'}

In [117]:
# 집합 전체 삭제 (오류가 남)

del(s)
print(s)

NameError: name 's' is not defined

### 교집합/ 합집합/ 차집함

In [126]:
S1 = {1,2,3,4,5}
S2 = {3,4,5,6,7}
print(S1)
print(S2)
# 교집합
print( S1 & S2)
print( S1. intersection (S2))

# 합집합
print( S1 | S2)
print( S1. union (S2))


# 차집합
print( S1 - S2)
print( S1. difference (S2))
print( S2 - S1)
print( S2. difference (S1))



# 1개 이상 집합에서 사용, 계산이 아니라 업데이트 해주는 기능임
# A.intersection_update(B,C) --> 계산 결과를 A로 다시 변경해야 값이 나타남
S3 = {5,6,7}
print( S1. intersection_update (S2, S3)) #S1을 업데이트 해주는 기능
print(S1)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{1, 2}
{6, 7}
{6, 7}
None
{5}